* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(249, 240, 255);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0.473);
}